<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Настройки приложения -->
	<appSettings>
		<!-- Время бездействия в секундах (по умолчанию 30) -->
		<add key="InactivityTimeoutSeconds" value="30"/>
		<!-- Включить/выключить блокировку -->
		<add key="EnableInactivityLock" value="true"/>
	</appSettings>

	<!-- Строка подключения к БД (если есть) -->
	<connectionStrings>
		<add name="MySQLConnection"
			 connectionString="Server=localhost;Database=kursych;Uid=root;Pwd=root;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>